html,
body {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 243, 246);
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rdg-cell,
.rdg-cell * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.align-right {
  text-align: right;
}
